
<style >

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

</style >
